*{
  margin: 0;
  padding: 0;
}

.app{
  background-size: cover;
  background-position: center center;
  transition: all 0.4s ease-in-out;
}

.app.sunny{
  background-image: url(./assets/img/bg-sunny.jpg);
}

.gradient-background{
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.75));
  min-height: 100vh;
}